.clients {
  &__title {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-font-secondary);
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--color-logo-border);
    border-radius: 4px;
    transition: border var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
    fill: var(--color-logo-border);
    transition: fill var(--transition-duration) var(--transition-timing-function);

    .clients__link:hover &,
    .clients__link:focus & {
      fill: var(--accent-color);
    }
  }
}
