.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--color-back);
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__address {
  margin-right: 70px;
}

.footer__email-input {
  margin-left: 93px;
}
