.footer {
  background: var(--color-back);

  &__address {
    text-align: center;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer {
    &__container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
    }
    &__address {
      margin-right: 165px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    &__container {
      justify-content: start;
    }
    &__address {
      text-align: left;
      margin-right: 70px;
    }
    .footer__email-input {
      margin-left: 93px;
    }
  }
}
