.skills {
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 120px;
    background-color: var(--color-back-gray);
    margin-bottom: 30px;
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
  &__subtitle {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-font-secondary);
    text-align: center;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}
// .skills {
//   &__list {
//     display: flex;
//   }
//   &__item {
//     width: 270px;
//     margin-left: 30px;

//     &:first-child {
//       margin-left: 0;
//     }
//   }

//   &__logo {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 270px;
//     height: 120px;
//     background-color: var(--color-back-gray);
//     margin-bottom: 30px;
//   }
//   &__icon {
//     width: 70px;
//     height: 70px;
//   }
//   &__subtitle {
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: var(--color-font-secondary);
//     margin-bottom: 10px;
//   }
//   &__text {
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//   }
// }
