:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --color-font: #757575;
  --color-font-secondary: #212121;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-back: #2f303a;
  --color-header-line: #ececec;
  --color-portfolio-border: #eeeeee;
  --color-back-gray: #f5f4fa;
  --color-back-hero: #c4c4c4;
  --color-back-button: #188ce8;
  --color-logo-border: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
